#content {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.col-1 {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    border: 1px solid #1c283364;
    border-radius: 5px;
    max-width: 20vw;
    max-height: 40vh;
}